@use "../../variables.scss" as *;

.header {
  box-shadow: 0 5px 20px -2px rgba($color: #000000, $alpha: 0.2);
  width: 100vw;
  z-index: 5;
  &__wrapper {
    height: 5.6rem;
    background-color: #f2f2f3;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__left {
    display: flex;
    gap: 2rem;
    align-items: center;
    svg {
      width: 3rem;
      height: 3rem;
      path {
        fill: gray;
      }
    }
    img {
      object-fit: contain;
    }
  }
  &__right {
    button {
      color: gray;
      font-size: 2rem;
      padding: 1rem 2rem;
      border: none;
      background: none;
      border-radius: 0.5rem;
      &:hover {
        background-color: lightgrey;
      }
    }
  }
}
