@use "../../variables.scss" as *;

.mobileMenu {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background: rgba($color: #000000, $alpha: 0.9);
    padding: 2rem 4rem;
    &__wrapper {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        a {
            color: white;
            font-size:3rem;
        }
    }
}
