@use "../../variables.scss" as *;

.side-wrapper {
    margin-top: 9.8rem;
    height: 100vh;
    background-color: $main-bg-color;
    border-right: 1px solid gray;
    &__item {
        
        padding: 2rem 6rem;
        background-color: $button-hover-color;
        border-bottom: 1px solid gray;
    }
}
.first {
    border-top: none;
}
