@use "../variables.scss" as *;

.dashboard {
    display: flex;
    &__buttoncontainer {
        display: flex;
        flex-direction: column;
        button{
            padding: 2rem 5rem;
        }
    }
    &__content {
     margin: 5rem;
    }
    &__form {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        width: 80vw;
        &-items {
            display: grid;
            align-items: center;
            grid-template-columns: repeat(2, 50% 50%);
        }
    }
}
