@use "../variables.scss" as *;

.home {
    &__login {
        display: flex;
        justify-content: center;
        margin-top: 10rem;
        min-height: 100vh;
    }
    &__loggedin {
        display: flex;
    }
}
